body{
	padding: 0px;
	margin: 0px;
	background-color: #2b3954;
	background-image: url('./components/images/background.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	
}
.slogan{
	position: absolute;
	display: inline-block;
	top: 150px;
	left: 100px;
	color: white;
	font: 35px Arial, sans-serif;
}
.article{
	position: absolute;
	display: inline-block;
	top: 400px;
	left: 100px;
	color: white;
	font: 15px Arial, sans-serif;
}


/* // var sidebar = document.querySelector('.side_bar'); */
		/* // var rightmenu = document.querySelector('.right_menu'); */
	
		/* // var bp_sidebar == '950'; */
		/* // var bp_menu == '800'; */
		
		/* // // sidebar's script */
	
		/* // if(window.innerWidth < bp_sidebar ){ */
		
			/* // sidebar.style.display = 'none'; */
		
		/* // } */
					
		/* // // sidebar's script */
		
		
		/* // // rightmenu's script */
	
		/* // if(window.innerWidth <= bp_menu ){ */
		
			/* // rightmenu.style.display = 'none'; */
		
		/* // } */
	
		/* // // rightmenu's script */
	